@import url('https://fonts.googleapis.com/css2? family= Fjalla+One & display=swap');
:root{
    --button: #5CB445;
    --borderColor: #a2738c;
    --black: #000;
}

body{
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: linear-gradient(180deg, #8CBFE6 0%, rgba(140, 191, 230, 0) 100%);
}

header{
    width: 195px;
    height: 168px;
    left: 41px;
    top: 17px;
}

.logo {
    position: absolute;
width: 195px;
height: 168px;
left: 41px;
top: 17px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
   
   display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    left: 616px;
    top: 134px;
}
.img-banner{
   
    width: 894px;
    height: 377px;
    left: calc(50% - 894px/2);
    top: 215px;
}    
.button-surprise{
   
    cursor: pointer;
    background-color: var(--button);
    bottom: 0%;
    border-radius:  3rem;
    width: 14rem;
    height: 5rem;
    border: none;
    box-shadow: 0px 2px 4px black;
   
    }






