@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


:root{
    --var-button: #5CB445;
    --var-borderColor: #EB79A4;
    --var-black: #000;
    --var-list: #E1E12B;
    --var-background: #8CBFE6;
}

* {
    box-sizing: border-box;
}

body{
    position: relative;
    width: 90rem;
    height: 64rem;
    background: linear-gradient(180deg, var(--var-background) 0%, rgba(140, 191, 230, 0) 100%);
    font-family: "Fjalla One", sans-serif;
    background-repeat: no-repeat;
}

header{
    width: 12.2rem;
    height: 10.5rem;
    left: 2.5rem;
    top: 1rem;
}

.logo {
    position: absolute;
    width: 12.2rem;
    height: 10.5rem;
    left: 2.5rem;
    top: 1rem;
}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
    left: 38.5rem;
    top: 8.4rem;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
}

.img-banner{
   width: 56rem;
    height: 23.5rem;
    left: calc(50% - 894px/2);
    top: 13.5rem;
    /*max-width: 100%;*/
}   

.button-surprise {
    font-family: "Fjalla One", sans-serif;
    cursor: pointer;
    background-color: var(--var-button);
    border-radius: 3rem;
    width: 14rem;
    height: 5rem;
    border: none;
    box-shadow: 0px 2px 4px var(--var-black);
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    font-size: 25px;
}

@media (max-width: 768px) {
    
    * {
        box-sizing: border-box;
    }
    
    body {
            overflow-x: hidden;
            width: 100%;
            height: auto;
        }

        header, .logo {
            width: 12.5rem;
            height: 10.5rem;
            display: flex;
            left: 23%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        main, .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 40px;
            margin-top: 15%;
            text-align: center;
        }

        .img-banner {
            width: 23rem;
            height: 10rem;
            margin-top: 3%;
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

        .button-surprise {
            width: 8rem;
            height: 3rem;
            font-size: 15px;
            position: absolute;
            top: 115%;
          }
}

h2{
    display: flex;
    justify-content: center;
    font-style: normal;
}

